@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: zeniq;
        src: url('/fonts/Zeniq.ttf');
      }
      @font-face {
        font-family: Stylish-Regular;
        src: url('/fonts/Stylish-Regular.ttf');
      }
      @font-face {
        font-family: Trigram;
        src: url('/fonts/Trigram-vmLDM.ttf');
      }
      @font-face {
        font-family: TrigramLight;
        src: url('/fonts/TrigramLight-w1XDz.ttf');
      }

}

#root{
  width: 100vw;
  overflow-x: hidden;
  
}

html{
  overflow-x: hidden;
}



